<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testando Servidor</title>
</head>
<body>
  <form method="post" action="/users">
    <div>
      <label>
        First Name:
      </label>
      <input type="text" name="user[firstName]" />
    </div>
    <div>
      <label>
        Last Name:
      </label>
      <input type="text" name="user[lastName]" />
    </div>
    <div>
      <input type="submit" name="Submit" />
    </div>
  </form>
</body>
</html>